{% extends 'blog/base.html' %}

{% block content %}
{% load static %}

<table id="card_table" class="table table-hover table-dark mt-4 shadow border border-dark rounded">
    <thead class="thead-dark">
        <tr>
            <th>Champion</th>
            <th>Talent</th>
            <th>Card</th>
            <th>Card Level</th>
            <th>Winrate</th>
            <th>Match Count</th>
        </tr>
    </thead>
</table>
<script>
    $(document).ready(function () {
        $('#card_table').DataTable({
            "processing": false,
            serverSide: false,
            ajax: {
                url: 'http://127.0.0.1:8000/stats/cardajax',
                dataSrc: 'card_stats',
            },
        });
    });

</script>
{% endblock %}