*{
    color:aliceblue;
    font-family: 'Roboto', sans-serif;
}
div > .dropdown-menu { 
    background-color: #212529;
 }

 .dropdown-menu > .dropdown-item {
    color: aliceblue;
 }


.ml-4{
    margin-left: 10px !important;
}

.mr-4{
    margin-right: 10px !important;
}

.icons-default{
    max-height: 30px;
    color: aliceblue;
}

#arrow-up{
    max-height: 30px;
}

#arrow-down{
    max-height: 30px;
    transform: rotate(180deg);
}

input[type=text]{
    color: black;
}

textarea{
    color: black;
}

.btn-secondary {
    background-color: #212529 !important;
}

.bg-primary{
    background-color: #1D1F29 !important;
}

.bg-secondary{
    background-color: #212529 !important;
}

a {
    text-decoration: none;
    color: aliceblue;
}

