{% extends 'blog/base.html' %}

{% block content %}
{% load static %}
<table id="map_table" class="table table-hover table-dark mt-4 shadow border border-dark rounded">
    <thead class="thead-dark">
        <tr>
            <th>Class</th>
            <th>Champion</th>
            <th>Map</th>
            <th>Winrate</th>
            <th>Match Count</th>

</table>
<script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
            $('#map_table').DataTable({
                "processing": false,
                serverSide:false,
                ajax: {
                    url:'ajax/',
                    dataSrc:'map_stats',
                },
            });
    });
</script>
{% endblock %}